/* External styling */

/* h1{color : green;}            Element selectors : h1 , h2, p */

/* #red{color : red;} */

/* h3{color : blue;} */

/* *{color : grey;} */


/* h2,h3,p {color : red;} */

/* .pink{color : pink;} */

/* h2.pink{color : pink;} */